:root {
  --background: #f7f9fc; /* 연한 블루그레이 */
  --foreground: #111111;
  --text-main: #111111;
  --text-sub: #555555;
  --primary: #5a79ff; /* 선명한 파란색 */
  --primary-light: #eef2ff;
  --border: #eaeaea;
  --font-main: var(--font-noto-sans-kr), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}